/*
@media
https://www.runoob.com/tags/att-link-media.html
竖排的页面会引入这一块样式
*/
@media all and (orientation: portrait){
    .folder, .file, .funcBtn, .upload {font-size: 36px;}
    table td:nth-of-type(5) {width: 98px;}
    .upload {margin: 0 0 0 50px !important;}
    .folder, .file, .funcBtn { padding: 1vw 0; }
}
:root {
    --preview-width: 90px;
}

html, body {
    margin: 0;
    height: 100%;
}
body {
    background-color: #181a1b;
    color: white;
}

.folder, .funcBtn { text-decoration: underline; }

.folder, .funcBtn, .file {
    cursor: pointer;
}

.folder:hover, .funcBtn:hover, .file:hover {
    color: #33ffb4;
}

.funcBtn, .file { color: #00ff37; }

.folder { color: #e3ff00; }

.upload {
    margin: 0 0 0 10px;
    border-width: 0.3vh;
}

td {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.th-bg {
    background-color: #808080e0;
}

thead td {
    background: #5b585847;
    backdrop-filter: blur(88px);
}

tbody tr:hover, thead tr:nth-of-type(3):hover {
    background-color: #04fb0436;
}
table {
    /* 超出宽度自动隐藏 */
    table-layout: fixed;
    width: 100%;
}
table td:nth-of-type(1) {text-align: left; padding-left: 5px;}

.preview {
    max-height: calc(var(--preview-width) * 2);
    max-width: var(--preview-width);
}

.fix-th {
    position: sticky;
    top: 0;
    z-index: 10;
}