:root {
    --preview-width: 90px;
}

html, body {
    margin: 0;
    height: 100%;
}
body {
    background-color: #181a1b;
    color: white;
}

.folder, .funcBtn { text-decoration: underline; }

.folder, .funcBtn, .file {
    cursor: pointer;
    padding: 1vw 0;
}

.folder:hover, .funcBtn:hover, .file:hover {
    color: #33ffb4;
}

.funcBtn, .file { color: #00ff37; }

.folder { color: #e3ff00; }

.upload {
    margin: 0 0 0 50px;
    border-width: 0.3vh;
}
.folder, .file, .funcBtn, .upload {
    font-size: 36px;
}

td {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

colgroup > col:nth-child(1) {width: 100%;}
colgroup > col:nth-child(2) {width: var(--preview-width);}
colgroup > col:nth-child(3) {width: 80px;}
colgroup > col:nth-child(4) {width: 166px;}
colgroup > col:nth-child(5) {width: 100px;}

.th-bg {
    background-color: #808080e0;
}

thead td {
    background: #5b585847;
    backdrop-filter: blur(88px);
}

tbody tr:hover, thead tr:nth-of-type(3):hover {
    background-color: #04fb0436;
}
table {
    /* 超出宽度自动隐藏 */
    table-layout: fixed;
    width: 100%;
}
table td:nth-of-type(1) {text-align: left; padding-left: 5px;}

.preview {
    max-height: calc(var(--preview-width) * 2);
    max-width: var(--preview-width);
}

.fix-th {
    position: sticky;
    top: 0;
    z-index: 10;
}