html, body {
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse; /* 边框合并以显示为单个边框 */
}

.text_no {
    padding: 0 10px;
    vertical-align: middle;
    text-align: right;
    color: gray;
}

.text_auto_wrap {
    white-space: normal; /* 允许文本自动换行 */
    word-wrap: break-word; /* 在单词边界自动换行 */
    word-break: break-all;
}