/* 竖排 + 非hover */
@media (orientation: portrait) and (hover: none) {
}

:root {
    --preview-width: 90px;
}

.folder, .funcBtn { text-decoration: underline; }

.folder, .funcBtn, .file {
    cursor: pointer;
}

.folder:hover, .funcBtn:hover, .file:hover {
    color: #33ffb4;
}

.funcBtn, .file { color: #00ff37; }

.folder { color: #e3ff00; }

.path {
    margin: 0 5px 0 0;
}

.upload {
    margin: 0 10px 0 0;
    border-width: 4px;
}

#main td {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main colgroup > col:nth-child(1) {width: 100%;}
#main colgroup > col:nth-child(2) {width: var(--preview-width);}
#main colgroup > col:nth-child(3) {width: 80px;}
#main colgroup > col:nth-child(4) {width: 166px;}
#main colgroup > col:nth-child(5) {width: 86px;}

.th-bg {
    background-color: #808080e0;
}

#main thead td {
    background: #5b585847;
    backdrop-filter: blur(88px);
}

#main tbody tr:hover, #main thead tr:nth-of-type(3):hover {
    background-color: #04fb0436;
}
#main {
    /* 超出宽度自动隐藏 */
    table-layout: fixed;
    width: 100%;
}
#main td:nth-of-type(1) {text-align: left; padding-left: 5px;}

.name-btn {
    /* background-color: #959090; */
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

.name-btn-sel {
    background: #4a4949;
}

.preview {
    max-height: calc(var(--preview-width) * 2);
    max-width: var(--preview-width);
}

.fix-th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.funcBtn:not(:last-child) {
    margin-right: 3px;
}

.msgBox {
    background-color: #6d777599;
    backdrop-filter: blur(6px);
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: 10px 10px 0px 0px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

.msgBoxLine {
    margin: 6px 0 0 0;
    word-wrap: break-word;
    background-color: #2b2b2b82;
    padding: 2px 6px;
    width: fit-content;
    border-radius: 3px;
}

mok {
    color: lime;
}
mer {
    color: #f7ae00;
}
mrun {
    color: #0fffd7;
}

.close {
    position: sticky;
    float: right;
    top: 2px;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 5px;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.close:hover {
    background-color: #b97900;
}